#preview-step-ved {
  .document-ved {
    background-color: #525659 !important;
  }
  .tools-ved {
    background-color: rgb(50 54 57) !important;
    box-shadow: 0 -2px 8px rgb(0 0 0 / 9%), 0 4px 8px rgb(0 0 0 / 6%),
      0 1px 2px rgb(0 0 0 / 30%), 0 2px 6px rgb(0 0 0 / 15%) !important;
    z-index: 999999 !important;
  }
  .menu-ved {
    background-color: rgb(50, 54, 57) !important;
  }

  #ved-input-page-active {
    width: 20px !important;
    text-align: center !important;
    border: none !important;
  }

  .ved-page-item-list {
    -webkit-app-region: no-drag !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    .ved-img-page-large {
      cursor: pointer !important;
    }
    .ved-img-page-small {
      height: 170px !important;
    }

    .inactive-img-ved {
      -webkit-filter: brightness(0.8) !important;
      filter: brightness(0.8) !important;
    }

    &.mini-item-ved {
      img:hover {
        -webkit-filter: brightness(0.9) !important;
        filter: brightness(0.9) !important;
      }
    }

    .chip-ved {
      padding: 5px 8px 5px 8px !important;
      height: auto !important;
      min-width: 110px !important;
      max-width: 130px !important;
      text-align: left !important;
      border-radius: 5px !important;
      border: solid 1px #969696 !important;
      background: rgb(251, 222, 19) !important;
      color: black;
      background: radial-gradient(
        circle,
        rgba(251, 222, 19, 1) 0%,
        rgba(237, 213, 40, 1) 100%
      ) !important;
      -webkit-app-region: no-drag !important;
      &:hover {
        background: rgb(251, 222, 19) !important;
      }
      .name {
        font-size: 15px !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
      }
      .email {
        font-size: 10px !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
      }
    }
  }
  .cursor-zone-ved {
    position: absolute !important;
    z-index: 999980 !important;

    .mark-ved {
      position: absolute !important;
      z-index: 999980 !important;
      bottom: 0 !important;
      left: 0 !important;
      width: 100px !important;
      height: 40px !important;
      border: 2px dashed rgba(255, 0, 0, 0.247) !important;
      border-radius: 5px !important;
      background-color: transparent !important;
      animation: none !important;

      .mark-icon-ved {
        color: rgba(255, 0, 0, 0.247) !important;
      }
    }
  }

  //Modal add sign
  .modal-box-sign-ved {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
  }

  .overlay-modal-ved {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    background: rgb(0 0 0 / 30%) !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 0 !important;
  }
  &.active-modal-sign {
    .overlay-modal-ved {
      opacity: 1 !important;
      pointer-events: auto !important;
      z-index: 999997 !important;
    }
  }
  .modal-box-sign-ved {
    max-width: 380px !important;
    width: 100% !important;
    padding: 30px 20px !important;
    border-radius: 15px !important;
    background-color: #fff !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 0.1s ease !important;
    transform: translate(-50%, -50%) scale(1.2) !important;
    z-index: 999998 !important;

    .inp {
      position: relative !important;
      margin: auto !important;
      width: 100% !important;
      border-radius: 3px !important;
      overflow: hidden !important;
    }
    .inp .label {
      position: absolute !important;
      top: 10px !important;
      left: 12px !important;
      font-size: 16px !important;
      color: rgba(0, 0, 0, 0.5) !important;
      font-weight: 500 !important;
      transform-origin: 0 0 !important;
      transform: translate3d(0, 0, 0) !important;
      transition: all 0.2s ease !important;
      pointer-events: none !important;
    }
    .inp .focus-bg {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
      z-index: -1 !important;
      transform: scaleX(0) !important;
      transform-origin: left !important;
    }
    .inp input {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      width: 95% !important;
      border: 0 !important;
      font-family: inherit !important;
      padding-top: 12px !important;
      padding-left: 12px !important;
      height: 30px !important;
      font-size: 12px !important;
      font-weight: 400 !important;
      background: rgba(0, 0, 0, 0.02) !important;
      box-shadow: inset 0 -2px 0 -1px rgb(0 0 0 / 30%) !important;
      color: #000 !important;
      transition: all 0.15s ease !important;
    }
    .inp input:hover {
      background: rgba(0, 0, 0, 0.04) !important;
      box-shadow: inset 0 -2px 0 -1px rgb(0 0 0 / 30%) !important;
    }
    .inp input:not(:-moz-placeholder-shown) + .label {
      color: rgba(0, 0, 0, 0.5) !important;
      transform: translate3d(0, -8px, 0) scale(0.7) !important;
    }
    .inp input:not(:-ms-input-placeholder) + .label {
      color: rgba(0, 0, 0, 0.5) !important;
      transform: translate3d(0, -8px, 0) scale(0.7) !important;
    }
    .inp input:not(:placeholder-shown) + .label {
      color: rgba(0, 0, 0, 0.5) !important;
      transform: translate3d(0, -8px, 0) scale(0.7) !important;
    }
    .inp input:focus {
      background: rgba(0, 0, 0, 0.05) !important;
      outline: none !important;
      box-shadow: inset 0 -2px 0 -1px rgb(50 54 57) !important;
    }
    .inp input:focus + .label {
      color: rgb(50 54 57) !important;
      transform: translate3d(0, -8px, 0) scale(0.7) !important;
    }
    .inp input:focus + .label + .focus-bg {
      transform: scaleX(1) !important;
      transition: all 0.1s ease !important;
    }
  }
  &.active-modal-sign {
    .modal-box-sign-ved {
      opacity: 1 !important;
      pointer-events: auto !important;
      transform: translate(-50%, -50%) scale(1) !important;
    }
  }

  .list-signers-ved {
    position: relative !important;
    width: 100% !important;
  }

  .list-signers-ved .head {
    padding: 20px 0 !important;
    margin: 0 30px !important;
    border-bottom: 1px solid rgba(2, 132, 199, 0.5) !important;
  }

  .list-signers-ved .title {
    font-weight: 500 !important;
    text-align: center !important;
    font-size: 2.5rem !important;
    color: rgba(2, 132, 199, 0.8) !important;
  }

  .list-signers-ved .subtitle {
    font-size: 0.9rem !important;
    text-align: center !important;
    letter-spacing: 0.5px !important;
  }

  .list-signers-ved .ul-ved {
    list-style: none !important;
    padding: 4px 0 !important;
    font-weight: 300 !important;
    margin-right: 10px !important;
  }

  .list-signers-ved .ul-ved li {
    position: relative !important;
    display: block !important;
    margin: 12px 0 !important;
    height: 30px !important;
    padding-bottom: 15px !important;
    border-bottom: solid 1px #dedede;
  }

  .list-signers-ved .ul-ved .text {
    float: left !important;
    font-size: 1rem !important;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
  }

  .ul-ved li:nth-of-type(2) {
    animation: slide-up 1s;
  }

  .ul-ved li:nth-of-type(3) {
    animation: slide-up 1.5s;
  }

  .ul-ved li:nth-of-type(4) {
    animation: slide-up 2s;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(5rem);
    }
  }

  .list-signers-ved .ul-ved .button {
    position: relative !important;
    z-index: 2 !important;
    box-sizing: border-box !important;
    float: right !important;
    border-radius: 50% !important;
  }

  .ul-ved li .wrapper {
    position: absolute !important;
    width: 20px !important;
    right: 0 !important;
  }

  #signs-list-ved::-webkit-scrollbar {
    background-color: #fff !important;
    width: 16px !important;
  }

  /* background of the scrollbar except button or resizer */
  #signs-list-ved::-webkit-scrollbar-track {
    background-color: #fff !important;
  }

  /* scrollbar itself */
  #signs-list-ved::-webkit-scrollbar-thumb {
    background-color: #babac0 !important;
    border-radius: 16px !important;
    border: 4px solid #fff !important;
  }

  /* set button(top and bottom of the scrollbar) */
  #signs-list-ved::-webkit-scrollbar-button {
    display: none !important;
  }
}
