#input-file-ved {
  // @apply ved-text-primaryPure;

  #anim-ref-ved {
    svg {
      // display: none !important;
      path {
        fill: var(--primary-pure-color-custom-ved) !important;
        stroke: var(--primary-pure-color-custom-ved) !important;
      }
    }
  }

  #info-icon-ved {
    .blob-ved {
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      height: 18px;
      width: 18px;
      transform: scale(0.4);
      animation: ved-pulse-circle 3s infinite;
    }

    @keyframes ved-pulse-circle {
      0% {
        transform: scale(0.4);
        box-shadow: 0 0 0 0 var(--primary-pure-color-custom-ved);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
      }

      100% {
        transform: scale(0.4);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
      }
    }
  }
}
